body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
     background: url(../img/beach.png); 
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
h1{
    color: brown;
    background-color: lightblue;
    border: 5px white solid;
    border-radius: 2px;
    font-size: 48px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;;
}
.col{
    background-color:  #dfc2a9;  
     flex-grow: 1;
}

div.row{
    flex-grow: 1;
}
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center; 

}
#container{   
    height: 700px;
    width: 700px;
    margin-top: 20px;
   
    display: flex;
    flex-direction: column;
    background-color: #dfc2a9;
    border: 20px solid brown;
}
button{
    height: 50px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-size: 18px;
    font-weight: bold;


}
button:hover {
    height: 55px;
    width: 110px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: brown;
    color: white;
    font-size: 18px;
    font-weight: bold;


}
